<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivy.sd.png.asean.view">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" /> <!-- *** Normal Permission *** -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- *** Normal Permission *** -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.NFC" /> <!-- Phone Group -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Camera - used for photo capture -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" /> <!-- External Storage - Used to save the images/media files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- System setting - Used to enable automatic date and time -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- To get running apps -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- Location Group -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Google Map - used for map in planning screen -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.ivy.sd.png.asean.view.permission.MAPS_RECEIVE" /> <!-- Allows using PowerManager WakeLocks to keep processor from sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.ivy.sd.png.model.BusinessModel"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MVPTheme.Blue">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <service
            android:name="com.ivy.cpg.locationservice.movementtracking.MovementTrackingListenerService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.ivy.cpg.locationservice.movementtracking.MovementTrackingUploadService" />
        <service android:name="com.ivy.cpg.locationservice.realtime.RealtimeLocationUploadIntentService" />

        <receiver
            android:name="com.ivy.cpg.locationservice.movementtracking.MovementTrackingAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ivy.cpg.locationservice.realtime.RealtimeLocationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.ivy.cpg.view.sync.catalogdownload.CatalogImageDownloadService" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service android:name="com.ivy.sd.png.model.DownloadService" />
        <service
            android:name="com.ivy.cpg.locationservice.realtime.RealTimeLocationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.ivy.cpg.locationservice.activitytracking.ActivityIntentService"
            android:exported="false" />

        <receiver
            android:name="com.ivy.sd.png.model.DownloadReceiver"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="hdoxbc4z0yHtseu0XG3PKgNm" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name="com.ivy.sd.png.view.DummyLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.cpg.view.login.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.initiative.InitiativeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.attendance.AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NonVisitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.digitalcontent.StoreWiseGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ViewImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.StockAndOrder"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.asean.view.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.OrderNewOutlet"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.asean.view.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.OpportunityNewOutlet"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.asean.view.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.MapDialogue"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.maplib.BaiduMapDialogue"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleOrderSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.damageReturn.DamageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleStockAndOrderFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleStockCheckFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.nearexpiry.NearExpiryTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.competitor.CompetitorTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.competitor.SubCompetitorTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.planogram.PlanoGramActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.PosmTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.survey.SurveyActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.RetailerSelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.tradeCoverage.deviation.PlanningActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ivy.cpg.view.orderfullfillment.OrderFullfillmentRetailerSelection"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ivy.cpg.view.orderfullfillment.OrderFullfillment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.orderfullfillment.PartialFullfillment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.homescreen.HomeScreenActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.view.van.LoadManagementScreen.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleHomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.InvoiceStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.callanalysis.CallAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.HomeScreenTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NewOutlet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.OrderSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.BatchAllocation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.callanalysis.CloseCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.task.TaskCreation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.collection.CollectionScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.olddashboard.SKUWiseTargetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.orderreport.OrderReportDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.digitalcontent.DigitalContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.stockcheck.StockCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.stockcheck.CombinedStockFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.stockcheck.CombinedStockDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.salesreturn.SalesReturnEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.ivy.sd.camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.task.Task"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.photocapture.PhotoCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.SyncRetailerSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.photocapture.Gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.roadactivity.AdhocGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.settings.UserSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferencesTheme" /> <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        <activity
            android:name="com.ivy.cpg.view.order.scheme.SchemeApply"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.salesreturn.SalesReturnSummery"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.manualvanload.ManualVanLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.stockview.StockViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.odameter.OdaMeterScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.stockproposal.StockProposalScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.homescreen.deviceStatus.DeviceStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.OrderDiscount"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.olddashboard.DashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.KellogsDashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.sellerdashboard.SellerDashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.sellerdashboard.SellerKPISKUActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.invoicereport.InvoiceReportDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.vanstockapply.VanLoadStockViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.vanunload.VanUnloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.PrintPreviewScreenTitan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.CollectionPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.EODStockReportPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.AssetTrackingActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.view.AssetTrackingScreen.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.cpg.view.asset.AssetPosmRemoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.serializedAsset.RemoveSerializedAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.damagestock.DamageStockFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CaptureSignatureActivity"
            android:screenOrientation="portrait" /> <!-- IvyRetail Integration Classes -->
        <activity
            android:name="com.ivy.cpg.view.jointcall.JoinCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.price.PriceTrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.price.PriceTrackCompActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.salesreturn.SalesReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.emptyreturn.EmptyReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.nonfield.NonFieldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.roadactivity.RoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.promotion.PromotionTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.retailercontract.RetailerContractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSActivity_PRJSpecific"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSSummaryActivity_PRJSpecific"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SODActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SODAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSKUActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.callanalysis.CallAnalysisActivityKlgs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.login.password.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.mvp.MVPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.distorderreport.DistOrderreportdetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.homescreen.userFeedback.UserFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.ivy.sd.png.view.SerialNoEntryScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.invoice.DeliveryManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.invoice.DeliveryManagementDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.CommonPrintPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.attendance.inout.TimeTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.attendance.TLAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ReAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.nfc.NFCReadDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ivy.cpg.view.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.camera.NativeCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.CreditNotePrintPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.mvp.MVPNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.loyality.LoyaltyPointsFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.catalog.CatalogOrder"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.catalog.ProductDetailsCatalogActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ToolBarwithFilter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.settings.About"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.nonfield.NonFieldFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.ui.profile.edit.view.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.collection.BillPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.collection.PaymentModeActivity"
            android:label="@string/title_activity_payment_mode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.vanstockapply.VanLoadStockApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.productdetails.ProductSchemeDetailsActivity"
            android:label="@string/title_activity_product_scheme_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PlanningVisitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.profile.orderandinvoicehistory.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.survey.DragDropPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.acknowledgement.AcknowledgementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.acknowledgement.AcknowledgementDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.AssetMovementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.foodempire.DeliveryOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.foodempire.DeliveryOrderSummary"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.foodempire.DeliveryOrderScheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DistributorSelectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.FitScoreDashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9b1eac89f0eeff5747964654e134359f51160fde" />

        <activity
            android:name="com.ivy.cpg.view.sync.catalogdownload.CatalogImagesDownlaod"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.collection.CollectionReference"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PlanDeviationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.displayscheme.DisplaySchemeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.displayscheme.DisplaySchemeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.displayscheme.DisplaySchemeTrackingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.soho.SalesReturnValidationReportSOHO"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.subd.SubDHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.subd.SubDStockCheckActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.subd.SubDStockOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.offlineplanning.OfflinePlanningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ivy.cpg.view.backupseller.BackUpSellerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.kellogs.OrderDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.kellogs.OrderDeliveryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supervisor.mvp.sellerdetailmap.SellerDetailMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supervisor.mvp.sellerlistview.SellerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supervisor.mvp.outletmapview.OutletMapListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sync.uploadStatusReport.UploadStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supervisor.mvp.sellerperformance.sellerperformancelist.SellerPerformanceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supervisor.mvp.sellerperformance.sellerperformancedetail.SellerPerformanceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.scheme.UpSellingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.PosmGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.scheme.QPSSchemeApply"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.ui.activation.view.ActivationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.salesreturn.SalesReturnDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.ui.photocapture.view.PhotoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.ui.photocapture.view.PhotoCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.salesreturnreport.salesreportdetails.SalesReturnDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.AssetServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sfdc.SalesforceAuthenticateActivity"
            android:label="@string/app_name" /> <!-- FCM Service Registration -->
        <service android:name="com.ivy.cpg.fcmnotification.CPGFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.ivy.cpg.fcmnotification.NotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <!--
        Set custom default icon. This is used when no icon is set for
        incoming notification messages.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/launchericon" />
        <!--
         Set color used with incoming notification messages.
         This is used when no color is set for the incoming
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.ivy.cpg.view.collection.NoCollectionReasonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.vanunload.VanUnloadHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.orderfulfillmentreport.OrderFulfillmentDetailReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.settings.LicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supervisor.chat.StartChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.digitalcontent.PlayVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ivy.cpg.view.sync.largefiledownload.LargeFileDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.serializedAsset.SerializedAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.serializedAsset.SerializedAssetMovementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.serializedAsset.SerializedAssetServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.delivery.salesreturn.SalesReturnDeliverySKULevel"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.serializedAsset.AddSerializedAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.moq.MOQHighlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSMeasureActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ivy.cpg.view.sf.SODMeasureActivity" />
        <activity
            android:name="com.ivy.cpg.view.nearexpiry.NearExpiryDateInputActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.DiscountEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ivy.cpg.view.order.ReturnProductActivity" />
        <activity
            android:name="com.ivy.cpg.view.van.manualvanload.VanLoadReturnProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.initiative.InitiativeEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.indicativeOrderReason.IndicativeOrderReasonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.CollectionBeforeInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.supplierselect.SupplierSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.scheme.SchemeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.webview.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.login.TermsAndConditionsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ivy.ui.task.view.TaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ivy.ui.task.view.TaskCreationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ivy.cpg.view.Planorama.PlanoramaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ivy.cpg.view.Planorama.NewVisitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ivy.cpg.view.Planorama.PlanoramaDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ivy.cpg.view.Planorama.PlanoramaAnalysisActivty"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ivy.cpg.view.reports.syncreport.SyncReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ivy.ui.notes.view.NotesCreationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.ui.notes.view.NotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.ui.notes.view.NoteDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ivy.ui.task.view.TaskDetailActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.ivy.cpg.view.sync.largefiledownload.FileDownloadIntentService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.ivy.ui.retailer.viewretailers.view.list.RetailerListActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>