<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivy.sd.png.asean.view"
    android:versionCode="1300"
    android:versionName="2.130.0.1676">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <!-- *** Normal Permission *** -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- *** Normal Permission *** -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- Phone Group -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Camera - used for photo capture -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- External Storage - Used to save the images/media files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- System setting - Used to enable automatic date and time -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- To get running apps -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Location Group -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Google Map - used for map in planning screen -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="com.ivy.sd.png.asean.view.permission.MAPS_RECEIVE" />

    <!-- GCM  - used for push notification -->

    <uses-permission android:name="com.ivy.sd.png.view.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Allows using PowerManager WakeLocks to keep processor from sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Contact Group -->
    <!--
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    -->
    <application
        android:name="com.ivy.sd.png.model.BusinessModel"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MVPTheme.Blue">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <receiver android:name="com.ivy.sd.png.model.ScreenReceiver" />

        <service
            android:name="com.ivy.cpg.locationservice.movementtracking.MovementTrackingListenerService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.ivy.cpg.locationservice.movementtracking.MovementTrackingUploadService" />

        <receiver
            android:name="com.ivy.cpg.locationservice.movementtracking.MovementTrackingAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ivy.cpg.locationservice.realtime.RealtimeLocationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="com.ivy.sd.png.view.GcmIntentService" />
        <service android:name="com.ivy.cpg.view.sync.catalogdownload.CatalogImageDownloadService" />

        <receiver
            android:name="com.ivy.sd.png.view.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ivy.sd.png.view" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service android:name="com.ivy.sd.png.model.DownloadService" />
        <service
            android:name="com.ivy.cpg.locationservice.realtime.RealTimeLocationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.ivy.cpg.locationservice.activitytracking.ActivityIntentService"
            android:exported="false" />

        <receiver
            android:name="com.ivy.sd.png.model.DownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="hdoxbc4z0yHtseu0XG3PKgNm" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name="com.ivy.sd.png.view.DummyLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.ScreenActivationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.login.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.InitiativeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NonVisitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.digitalcontent.StoreWiseGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ViewImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.PlanningSubScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.StockAndOrder"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.asean.view.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.OrderNewOutlet"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.asean.view.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.OpportunityNewOutlet"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.asean.view.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.MapDialogue"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.maplib.BaiduMapDialogue"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ivy.sd.png.view.merch.MerchandisingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleOrderSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleStockAndOrderFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleStockCheckFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.nearexpiry.NearExpiryTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.competitor.CompetitorTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.competitor.SubCompetitorTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.planogram.PlanoGramActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.PosmTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.survey.SurveyActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.RetailerSelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PlanningActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.OrderFullfillmentRetailerSelection"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.ivy.sd.png.view.OrderFullfillment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PartialFullfillment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.PrimarySaleHomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.primarysale.view.InvoiceStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CallAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.HomeScreenTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NewOutlet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.order.OrderSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.BatchAllocation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CloseCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.TaskCreation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.Synchronization"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.ivy.sd.png.view.CollectionScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.olddashboard.SKUWiseTargetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.OrderReportDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.digitalcontent.DigitalContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.stockcheck.StockCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.stockcheck.CombinedStockFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.stockcheck.AvailabiltyCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.salesreturn.SalesReturnEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.ivy.sd.png.view.BixolonIPrint"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.Task"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.photocapture.PhotoCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.SyncRetailerSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.photocapture.Gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.AdhocGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.InvoicePrintZebra"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.UserSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferencesTheme" />
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        <activity
            android:name="com.ivy.cpg.view.order.scheme.SchemeApply"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.salesreturn.SalesReturnSummery"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.LoadManagementScreen"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.view.van.LoadManagementScreen.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.cpg.view.van.ManualVanLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.StockViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.OdaMeterScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.StockProposalScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DeviceStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.OrderDiscount"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.BixolonIIPrint"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.InvoicePrintZebraNew"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.olddashboard.DashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.KellogsDashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.sellerdashboard.SellerDashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.sellerdashboard.SellerKPISKUActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.reports.InvoiceReportDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.VanLoadStockView_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.VanUnloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.PrintPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.PrintPreviewScreenDiageo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.PrintPreviewScreenTitan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.GhanaPrintPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.CollectionPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.EODStockReportPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.intermecprint.BtPrint4Ivy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.AssetTrackingActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ivy.sd.png.view.AssetTrackingScreen.RECVR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ivy.cpg.view.asset.AssetPosmRemoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DamageStockFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.VanStockAdjustActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.CurrentStockBatchViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CaptureSignatureActivity"
            android:screenOrientation="portrait" />
        <!-- IvyRetail Integration Classes -->
        <activity
            android:name="com.ivy.sd.png.view.JoinCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.price.PriceTrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.price.PriceTrackCompActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.salesreturn.SalesReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CrownReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.EmptyReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NonFieldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.RoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.reports.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.promotion.PromotionTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.RetailerContractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSActivity_PRJSpecific"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSSummaryActivity_PRJSpecific"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SODActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SODAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.sf.SOSKUActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CallAnalysisActivityKlgs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.MVPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.reports.DistOrderreportdetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.UserFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.ivy.sd.png.view.SerialNoEntryScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DeliveryManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DeliveryManagementDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.CommonPrintPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.TimeTrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.TLAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ReAllocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.nfc.NFCReadDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ivy.sd.png.view.LeaveApproval"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ExpenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.camera.NativeCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.print.CreditNotePrintPreviewScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NewOutletEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.MVPNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.LoyaltyPointsFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CatalogOrder"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ProductDetailsCatalogActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ToolBarwithFilter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.About"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.NonFieldFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.profile.ProfileEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.BillPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PaymentModeActivity"
            android:label="@string/title_activity_payment_mode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.van.VanLoadStockApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.ProductSchemeDetailsActivity"
            android:label="@string/title_activity_product_scheme_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PlanningVisitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.profile.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.survey.DragDropPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.AcknowledgementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.AcknowledgementDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.asset.AssetMovementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DeliveryOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DeliveryOrderSummary"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DeliveryOrderScheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DistributorSelectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.dashboard.FitScoreDashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9b1eac89f0eeff5747964654e134359f51160fde" />

        <activity
            android:name="com.ivy.cpg.view.sync.catalogdownload.CatalogImagesDownlaod"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.CollectionReference"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.PlanDeviationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DisplaySchemeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DisplaySchemeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.DisplaySchemeTrackingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.reports.SalesReturnValidationReport"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.SubDHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.SubDStockCheckActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.SubDStockOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.sd.png.view.OfflinePlanningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ivy.sd.png.view.BackUpSellerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.orderdelivery.OrderDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ivy.cpg.view.orderdelivery.OrderDeliveryDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ivy.cpg.view.supervisor.SellerMapViewActivity" />
        <activity android:name="com.ivy.cpg.view.supervisor.SellerListActivity"></activity>
        <activity
            android:name="com.ivy.sd.png.view.SyncStatusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ivy.cpg.view.order.scheme.UpSellingActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>